.search-box {
    height: 20rem;
    width: 12rem;
    border: 2px solid black;
    margin-left: 5rem;
    margin-top: 3rem;
    color: white;
    background-color: rgb(90, 118, 155);
    border-radius: 20px;
    &__title {
        padding: 1rem;
        margin: 0;
    }
}

.checkbox {
    &__container {
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
    }
    &__option {
        margin-top: .75rem;
    }
    &__label {
        margin-left: .5rem;
    }
}