@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.search-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include tablet {
        flex-direction: row;
        justify-content: flex-start;
    }
    @include desktop {
        padding-left: 15rem;
    }
}

.search-options {
    &__or {
         padding-left: 10rem;
         padding-top: 3rem;
    }
}