.card {
    &-container {
        display: flex;
        align-items: center;
        width: 50rem;
        border: 2px solid black;
    }
    &__name {
        padding: 1rem 2rem;
    }
    &__birthday {
        font-weight: 500;
    }
    &__email {
        padding-left: 2.5rem;
    }
    &__phone {
        padding-left: 2.5rem;
    }
    &__hire-date {
        padding-left: 2.5rem;
    }
}