@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.employee-list-search{
    border-radius: 20px;
    background-color: rgb(197, 209, 235);
    @include tablet {
        margin-top: 4rem;
        margin-left: 5rem;
        padding-right:1rem;
        height: 100%;
        width: auto;
    }
}


.card { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    border: 2px solid black;
    margin: 1rem;
    background-image: linear-gradient(to bottom right, rgb(0, 2, 43), rgb(60,60,221));
    border-radius: 20px;
    @include tablet {
        width: 98%;
    }
    &:hover {
        border-color: white;
    }
    &__link {
        text-decoration: none;
        color: white;
        display: flex;
        align-items: center;
        @include tablet {
            width: 100%;
        } 
    }
    &__clear-button {
        position: absolute;
        right:0 ;
    }
    &__name {
        padding: 1rem 2rem;
        font-size: 1.25rem;
        width: 10rem;
    }
    &__birthday {
        font-weight: 500;
    }
    &__email {
        margin-left: 1rem;
        width: 13rem;
    }
    &__phone {
        padding-left: 2.5rem;
        width: 10rem;
    }
    &__hire-date {
        padding-left: 2.5rem;
    }
}