.employee-list {
    margin-top: 4rem;
    margin-left: 10rem;
    height: 100%;
    width: 60vw;
    border-radius: 20px;
    background-color: rgb(197, 209, 235);
}


.card { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50rem;
    border: 2px solid black;
    margin: 1rem;
    background-color: rgb(240, 168, 104);
    border-radius: 20px;
    &:hover {
        color: white;
        border-color: white;
        background-image: linear-gradient(to bottom right, rgb(0, 2, 43), rgb(60,60,221));
    }
    &__link {
        text-decoration: none;
        color: black;
        display: flex;
        align-items: center;
    }
    &__clear-button {
        position: absolute;
        right:0 ;
    }
    &__name {
        padding: 1rem 2rem;
        font-size: 1.25rem;
    }
    &__birthday {
        font-weight: 500;
    }
    &__email {
        padding-left: 2.5rem;
    }
    &__phone {
        padding-left: 2.5rem;
    }
    &__hire-date {
        padding-left: 2.5rem;
    }
}