.card { 
    display: flex;
    align-items: center;
    width: 50rem;
    border: 2px solid black;
    margin: 1rem;
    text-decoration: none;
    color: black;
    background-color: white;
    &:hover {
        color: blue;
    }
    &__name {
        padding: 1rem 2rem;
        font-size: 1.25rem;
        background-color: white;
    }
    &__birthday {
        font-weight: 500;
        background-color: white;
    }
    &__email {
        padding-left: 2.5rem;
        background-color: white;
    }
    &__phone {
        padding-left: 2.5rem;
        background-color: white;
    }
    &__hire-date {
        padding-left: 2.5rem;
        background-color: white; 
    }
}