.employee-browse-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 0;
    background-color: rgb(197, 209, 235);
}

.employee-card {
    width: 15%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    background-image: url('../../assets/images/folder-g.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    // background-image: linear-gradient(to bottom right, rgb(0, 2, 43), rgb(60,60,221));
    text-decoration: none;
    // border-radius: 20px;
    color: black; 
    // border: 2px solid black;
    &:hover {
        border: 2px solid black;
        
        
    }
    &__first-name {
        font-size: 1.4rem;
        padding-top: 1.5rem;
    }
    &__folder {
        width: 12rem;
    }
}