@use '../../styles/global.scss' as *;
@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.employee-browse-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 0;
    background-color: rgb(197, 209, 235);
}

.employee-card {
    width: 7.2rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    background-image: url('../../assets/images/folder-g.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    text-decoration: none;
    color: black; 
        @include tablet {
            margin: .5rem;
            width: 20%;
            height: 10rem;
            
        }
    &:hover {
        background-color: blue;
    }
    &__first-name {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        padding-top: 1rem;
        width: 5rem;
        font-size: .875rem;
        @include tablet {
            font-size: 1.4rem;
            padding-top: 1.5rem;
        }
    }
    &__folder {
        width: 12rem;
    }
}